.todo__list_container{
  background-color: rgba(255, 255, 255, 255);
  height: 400px;
  width: 538px;
-webkit-box-shadow: 18px 18px 29px 6px rgba(0, 0, 0, 0.16);
box-shadow: 18px 18px 29px 6px rgba(0, 0, 0, 0.16);
border-radius: 5px;
overflow: scroll;
margin-bottom: 30px;
}

.todo__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo__list_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
}

.btn {
  border:none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}
.btn:hover{
  color: blue;
}
/* .btn:checked{
  color: darkblue;
} */

/* Check how items or messages were styles in previous projects
maybe whatsapp, snapchat
 */