.todo__item {
  border-bottom: 1px solid rgba(189, 188, 194, 255);
  justify-content: space-between;
  display: flex;
  align-items: center;

}

.todo__item >h5 {
  flex: .9;
  color: var(--text-clr);
}

.checked > svg {
  padding-left: 5px;
  padding-left: 10px;
  padding-top: 15px;
}

/* .checked > svg:hover{
  background-color:radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(167, 115, 241, 0.788953081232493) 47%, rgba(0, 212, 255, 1) 100%) !important;
} */

.delete-icon > i  {
  color: rgba(155, 154, 169, 255);
  padding-right: 15px !important;
}

.completed{
  border-bottom: 1px solid rgba(189, 188, 194, 255);
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-decoration: line-through 2px black;
  color: #d7d7d8;

}

.completed >h5{
  flex: .9;
  color: var(--text-clr);
}

.svg{
  cursor: pointer;
  color: var(--text-clr);
}