.todo__form {
  display:flex;
  
}
.todo__form > input{
  width: 100%;
  border-radius: 5px;
  height: 4.3em;
  margin-bottom: 30px;
  border: none;
  outline-width: 0;
  padding-left: 1em;
  background-color: var(--listInput-bcg-clr);
}
