.todo__list_container{
  background-color: var(--listInput-bcg-clr);
  /* height: auto; */
  width: 538px;
-webkit-box-shadow: 18px 18px 29px 6px rgba(0, 0, 0, 0.16);
box-shadow: 18px 18px 29px 6px rgba(0, 0, 0, 0.16);
border-radius: 5px;
width: auto;
margin-bottom: 30px;
}

.todo__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo__list_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
}

.todo__list_footer > span {
  color: var(--text-clr);
}

.btn {
  border:none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  color: var(--text-clr);
  transition: all 0.35s ease-in-out;
}
.btn:hover{
  color: blue;
}
/* .btn:checked{
  color: darkblue;
} */

@media screen and (max-width:600px){
  .todo__list_footer{
    display: flex;
    flex-direction: column;
  }
}