
.dark-theme {
  --bcg-img: url('../../images/bg-desktop-dark.jpg');
  --bcg-clr:rgba(24, 24, 36, 255);
  --listInput-bcg-clr: #25273c;
  --text-clr:rgba(125, 127, 150, 255);
}

.light-theme{
  --bcg-img:url('../../images/bg-desktop-light.jpg');
  --bcg-clr:rgba(250, 250, 250, 255);
  --listInput-bcg-clr: #ffffff;
  --text-clr:rgba(78, 76, 86, 255);
}

.app {
    height: 100vh;
    width: 100vw;
    background-color: var(--bcg-clr);
    background-image: var(--bcg-img);
    background-size:  100vw;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
  }


  
  .app__container{
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    min-height: 500px;
    width: 50%;
  }
  
  .title{
    margin-top: 50px;
  }
  
  .title > h1 {
    letter-spacing: .3em;
    color: rgba(255, 253, 254, 255);
  }
  
  .header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
  }
  
  .mode__container > svg{
     color: white;
     font-size: xx-large;
     background: transparent;
  }

  @media screen and (min-width:900px){
    .app__container{
      width:35rem
    }
  }

  @media screen and (max-width:600px){
    .app__container{
      width: 80%;
    }
  }

  @media screen and (max-width:500px){
    .mode__container > svg{
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width:815px){
      .title>h1 {
        color:#9c9c9c;
      }
  }
